<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>
<body>

  <h1>Project Tracker</h1>

  <h2>Students</h2>
    <ul>
      {% for student in students %}
        <li>
          <a href="/student?github={{ student.github }}">
            {{ student.first_name }} {{ student.last_name }}
          </a>
        </li>
      {% endfor %}
    </ul>

  <h2>Projects</h2>
    <ul>
      {% for project in projects %}
        <li>
          <a href="/project?title={{ project.title }}">
            {{ project.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

</body>
</html>